# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcscmblueprint
*.xccheckout
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (if ever used)
Pods/

reference_apps/