# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcscmblueprint
*.xccheckout
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (if ever used)
Pods/

reference_apps/
fastlane/AuthKey_H67366U9L5.p8
fastlane/report.xml
Cubby.ipa
Cubby.app.dSYM.zip
